<table itemscope itemtype="https://schema.org/ItemList">
    <thead>
    <tr>
        <th>Tid</th>
        <th>Destination</th>
        <th>Flygnummer</th>
        <th>Anmärkningar</th>
    </tr>
    </thead>
    <tbody>
    <% flights.forEach(flight => { %>
        <% if (flight.type === 'divider') { %>
            <tr>
                <td colspan="4"><%= flight.text %></td>
            </tr>
        <% } else { %>
            <tr itemscope itemtype="https://schema.org/Flight">
                <td>
                    <time itemprop="<%= schemaItemProps.time %>" datetime="<%= new Date(flight.timestamp).toISOString() %>">
                        <%= new Date(flight.timestamp).toLocaleTimeString('sv-SE', { hour: '2-digit', minute: '2-digit', timeZone: "Europe/Stockholm" }) %>
                    </time>
                </td>
                <td>
                   <span itemprop="<%= schemaItemProps.airport %>" itemscope itemtype="https://schema.org/Airport">
                       <span itemprop="name"><%= flight.airport %></span>
                   </span>
                </td>
                <td itemprop="flightNumber"><%= flight.flightNumber %></td>
                <td itemprop="disambiguatingDescription"><%= flight.remarks || '' %></td>
            </tr>
        <% } %>
    <% }); %>
    </tbody>
</table>
