<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('./partials/head'); %>
    <%- include('./partials/reset'); %>
    <%- include('./partials/styles'); %>
    <style>
        nav {
            margin-bottom: 1.5rem;
        }

        nav ol {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 0.5rem;
        }

        nav ol li {
            color: var(--off-white);
        }

        nav ol li a {
            font-size: 1rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 0.75rem;
            overflow: hidden;
            margin: 0 -0.25rem;
        }

        th {
            font-weight: bold;
            color: var(--yellow);
        }

        td {
            color: var(--off-white);
        }

        th, td {
            text-align: start;
            padding: 0.25rem 0 0.25rem 0.25rem;
        }

        th:nth-child(4), td:nth-child(4) {
            width: 100%;
        }

        th:nth-child(1), td:nth-child(1),
        th:nth-child(2), td:nth-child(2),
        th:nth-child(3), td:nth-child(3) {
            padding-right: 1rem;
        }

        th:nth-child(4), td:nth-child(4) {
            white-space: pre-wrap;
        }

        tr:nth-child(even) {
            background-color: var(--dark-blue);
        }

        @media (min-width: 500px) {
            table {
                font-size: 1rem;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Ankomster</h1>
    <nav>
        <ol>
            <li><a href="/">Flygplatser</a></li>
            <li>></li>
            <li>Avgångar från <%= airportName %></li>
        </ol>
    </nav>
    <table>
        <tr>
            <th>Tid</th>
            <th>Destination</th>
            <th>Flygnummer</th>
            <th>Anmärkningar</th>
        </tr>
        <% departures.forEach(flight => { %>
            <tr>
                <td><%= new Date(flight.timestamp).toLocaleTimeString('sv-SE', { hour: '2-digit', minute: '2-digit' }) %></td>
                <td><%= flight.airport %></td>
                <td><%= flight.flightNumber %></td>
                <td><%= flight.remarks || '' %></td>
            </tr>
        <% }); %>
    </table>
</div>
</body>
</html>
