<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('./partials/head'); %>
    <%- include('./partials/reset'); %>
    <%- include('./partials/styles'); %>
    <style>
        ul {
            list-style: none;
        }

        li {
            margin-bottom: 1.5rem;
        }
    </style>
    <title><%= title %></title>
</head>
<body>
<div class="container">
    <h1><%= title %></h1>
    <ul>
        <% airports.forEach((airport) => { %>
            <li><a href="<%= airport.href %>"><%= airport.label %></a></li>
        <% }); %>
    </ul>
    <%- include('partials/footer'); %>
</div>
</body>
</html>
