<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('./partials/head'); %>
    <%- include('./partials/reset'); %>
    <%- include('./partials/styles'); %>
    <style>
        ul {
            list-style: none;
        }

        li {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Ankomster</h1>
    <ul>
        <ul>
            <% airports.forEach(([airportCode, airportName]) => { %>
                <li><a href="/airports/<%= airportCode %>"><%= airportName %></a></li>
            <% }); %>
        </ul>
    </ul>
</div>
</body>
</html>
