<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('./partials/head'); %>
    <%- include('./partials/reset'); %>
    <%- include('./partials/styles'); %>
    <style>
        ul {
            list-style: none;
        }

        li {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
<div class="container">
    <h1><%= title %></h1>
    <ul>
        <ul>
            <% airports.forEach((airport) => { %>
                <li><a href="<%= airport.href %>"><%= airport.label %></a></li>
            <% }); %>
        </ul>
    </ul>
    <%- include('partials/footer'); %>
</div>
</body>
</html>
